@import 'src/app/shared/styles/styles';

.registration-form {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


button{
  display: none;
}

app-button .app-button{
  width: 100%;
}

form.ng-submitted input.ng-invalid,
input.ng-touched.ng-invalid {
  border: 2px solid $color-red;
}

input.ng-untouched,
input.ng-pristine {
  border: 1px solid $color-gray;
}