@import 'src/app/shared/styles/styles.scss';

$color-red: #FF0000;
$color-gray: #CfCfCf;

.login-form {
  width: 260px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  display: none;
}

form.ng-submitted input.ng-invalid,
input.ng-touched.ng-invalid {
  border: 2px solid $color-red;
}

input.ng-untouched,
input.ng-pristine {
  border: 1px solid $color-gray;
}
