<div class="search-add-container">
    <app-search (search)="filterSearch($event)"></app-search>
    <app-button
            *ngIf="isEditable"
            buttonText="ADD NEW COURSE"
            (buttonClick)="navigateToCoursesAdd()"
    ></app-button>
</div>
<app-courses-list *ngIf="courses$ | async as courses"
        [courses]="courses"
        [editable]="isEditable"
        (showCourse)="onShowCourse($event)"
        (editCourse)="onEditCourse($event)"
        (deleteCourse)="onDeleteCourse($event)"
></app-courses-list>