<div class="courses-list">
    <ng-container *ngFor="let course of courses">
        <app-course-card
                [title]="course.title"
                [description]="course.description"
                [creationDate]="course.creationDate"
                [duration]="course.duration"
                [authors]="course.authors"
                [editable]="editable"
                (clickOnShow)="onShowCourse(course.id)">

            <ng-container *ngIf="editable">
                <app-button
                        buttonText="Edit"
                        iconName="edit"
                        (click)="onEditCourse(course.id)">
                </app-button>
                <app-button
                        buttonText="Delete"
                        iconName="trash"
                        (click)="onDeleteCourse(course.id)">
                </app-button>
            </ng-container>
        </app-course-card>
    </ng-container>

    <app-info
            *ngIf="!courses.length"
            title="Your list is empty"
            text="Please add your first course">
    </app-info>
</div>